{% macro blogPostLink(blogPost, prefix) %}
<div class="post-link">
  <div class="post-link__title">
    {% if prefix %}{{ prefix }}{% endif %}
    <a href="{{ blogPost.url }}">{{ blogPost.data.title }}</a>
  </div>
  <small class="post-link__date">Posted on {% humanDate blogPost.date %}</small>
  <p>{{ blogPost.data.summary }}</p>
</div>
{% endmacro %}
