{% macro blogPostLink(blogPost) %}
  <strong><a href="{{ blogPost.url }}">{{ blogPost.data.title }}</a></strong>
  <p><small>Posted on {% humanDate blogPost.date %}</small></p>
  <p>{{ blogPost.data.summary }}
{% endmacro %}
