---
layout: gallery-page.njk
title: Mobbler logo by James Nash
description: Logo and application icon design for Mobbler, the S60 Last.fm client, by James Nash.
keywords:
  - art
  - mobbler
  - s60
  - app
  - logo
  - icon
  - symbian
  - application
  - music
  - last.fm
eleventyNavigation:
  key: Mobbler
  order: 2
  parent: Art
  titleAttr: Mobbler logo by James Nash
---
<div class="box">
  <h2>Mobbler artwork</h2>
  <p><a href="https://eartle.medium.com/mobbler-a-last-fm-radio-player-and-scrobbler-for-symbian-519a74d052ff">Mobbler</a> is an excellent, freeware <a href="https://www.last.fm/">Last.fm</a> client for Symbian/S60 phones. Currently it uses the Last.fm logo as its application icon, but the
  developers always wanted the app to have its own icon and identity. I offered to have a go and, after discussing some ideas with <a href="https://twitter.com/eartle">Michael Coffey</a> (the lead developer), created two
  alternative Mobbler logo designs which were put to a <a href="https://poll.fm/1713603">public vote</a>. The winner has been now been adopted as the official logo and
  will also be used as the app icon in all future releases (the first to feature it is due very soon, by the way!).</p>
  <ul class="gallery">
    <li><a href="https://www.flickr.com/photos/james_nash/3673292876/"><img src="mobbler_icon.jpg" alt="Mobbler app icon" /> <span>Icon for the Mobbler app</span></a></li>
    <li><a href="pics/mobbler_logo.jpg"><img src="mobbler_logo.jpg" alt="Mobbler logo" /> <span>Full Mobbler logo</span></a></li>
    <li><a href="https://www.flickr.com/photos/james_nash/3612366186/"><img src="mobbler_grafitti.jpg" alt="Mobbler grafitti" /> <span>Mobbler Grafitti wallpaper</span></a></li>
    <li><a href="https://www.flickr.com/photos/james_nash/3638476166/"><img src="mobbler_red.jpg" alt="Mobbler red" /> <span>Fancy red Mobbler wallpaper</span></a></li>
    <li><a href="https://www.flickr.com/photos/james_nash/3638476122/"><img src="mobbler_blue.jpg" alt="Mobbler blue" /> <span>Fancy blue Mobbler  wallpaper</span></a></li>
    <li><a href="https://www.flickr.com/photos/james_nash/3635550284/"><img src="mobbler_orange.jpg" alt="Mobbler orange" /> <span>Fancy orange Mobbler  wallpaper</span></a></li>
  </ul>
  <p class="break">For the latest news and updates you may wish to <a href="https://twitter.com/Mobbler">follow Mobbler on Twitter</a>!</p>
</div>
