
.gallery {
	list-style-type: none;
	text-align: center;
}

.gallery li {
	display: block;
	float: left;
	padding: 0;
	margin: 1em;
}

.gallery a {
	font-size: 0.8em;
	display: block;
	margin: 0;
	padding: 0;
	width: 176px;
	height: 220px;
}

.gallery a img {
	display: block;
	margin: 0 0 4px 0;
	padding: 2px;
	border: 1px solid #b6e4ff;
}

.gallery a:visited img {
	border: 1px solid #ed7de4;
}

.gallery a:hover img,
.gallery a:active img {
	border: 1px solid #ffffff;
}

.gallery img {
	display: block;
	border: none;
	padding: 0;
	margin: 0 0 5px 0;	
}




.galleries {
	list-style-type: none;	
}

.galleries li {
	display: block;
	background: #434343 url('/style/boxbg.jpg') no-repeat 50% 0;	
}

#secondary-content .galleries li {
	margin: 1em;
	padding: 0;
}

.galleries li a,
.galleries li span {
	display: block;
	min-height: 44px;
	border: 1px solid;
	margin: 0;
	padding: 5px 5px 5px 60px;
}

.galleries li a {
	border-color: #b6e4ff;
}

.galleries li span {
	border-color: #ffffff;
}

.galleries li a:visited {
	border: 1px solid #ed7de4;
}

.galleries li a:hover,
.social li a:active {
	border: 1px solid #ffffff;
}

#adonthell {
	background: url('adonthell.jpg') no-repeat 2px 2px;	
}

#logos {
	background: url('logos.jpg') no-repeat 2px 2px;	
}

#misc {
	background: url('misc.jpg') no-repeat 2px 2px;	
}

#mobbler {
	background: url('mobbler.jpg') no-repeat 2px 2px;	
}

#nasher {
	background: url('nasher.jpg') no-repeat 2px 2px;	
}

#twiddles {
	background: url('twiddles.jpg') no-repeat 2px 2px;	
}
