{% from 'partials/main-nav.njk' import mainNav -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
	<head profile="http://gmpg.org/xfn/11">
  {%- block head %}
		<title>{{ title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="james, nash, personal, {{ (keywords | join(', ')) if keywords }}" />
		<meta name="description" content="{{ description }}" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" media="all" href="/style/screen.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{%- if additionalCss %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ additionalCss }}" />
    {%- endif %}
    {%- if page.url == '/' %}
		<link rel="meta" type="application/rdf+xml" title="FOAF" href="/foaf.rdf" />
    {%- else %}
    <link rel="home" href="/" />
    {%- endif %}
    <link rel="canonical" href="{% if canonicalUrl %}{{ canonicalUrl }}{% else %}{{ site.url }}{{ page.url | url }}{% endif %}" />
    {%- if robots.nofollow or robots.noindex %}
    <meta name="robots" content="{{ 'nofollow' if robots.nofollow }}{{ ', ' if (robots.nofollow and robots.noindex) }}{{ 'noindex' if robots.noindex }}">
    {%- endif %}
  {%- endblock %}
	</head>
	<body>
		<div id="header">
      <div class="page-title">
        <h1>{{ title }}</h1>
        {% block subTitle %}{% endblock %}
      </div>
		</div>
    {%- set navPages = collections.all | eleventyNavigation %}
    {{- mainNav(navPages, page.url) | safe }}
		<div id="body">
    {%- block main %}
      {{ content | safe }}
    {%- endblock %}
		</div>
		<div id="footer">
			<p class="twidnet">This site is a member of the: <a href="http://www.twiddles.com/">Twiddles Network</a></p>
			<p>&copy; 2002 - {{ misc.currentYear }} James Nash. All rights reserved.</p>
		</div>
	</body>
</html>
