---
layout: gallery-page.njk
title: Twiddles logos and art by James Nash
description: Logo designs and artwork for Twiddles by James Nash.
keywords:
  - art
  - logo
  - twiddles
  - icon
  - background
  - desktop
eleventyNavigation:
  key: Twiddles
  order: 4
  parent: Art
  titleAttr: Twiddles logos and art by James Nash
---
<div class="box">
  <h2>Twiddles artwork</h2>
  <p><a href="https://www.twiddles.com/">Twiddles</a> is a site run by my good friend Nils and myself where we intend to publish bits and pieces we make in our spare time. It's been around since 1997! Both the old and the current Twiddles logos have been designed by myself. I have also produced some promotional Twiddles artwork. A selection of these can be seen below.</p>
  <ul class="gallery">
    <li><a href="pics/twiddles_logo.jpg"><img src="twiddles_logo.jpg" alt="Twiddles Logo" /> <span>Current Twiddles logo.</span></a></li>
    <li><a href="pics/twiddles_network.jpg"><img src="twiddles_network.jpg" alt="Twiddles Network Logo" /> <span>"Twiddles Network" logo.</span></a></li>
    <li><a href="http://twiddles.deviantart.com/art/Twiddles-Doodles-120812492"><img src="doodles.jpg" alt="Twiddles Doodles" /> <span>Collage of doodles with Twiddles branding.</span></a></li>
    <li><a href="http://twiddles.deviantart.com/art/Twiddles-Doodle-Invert-120813086"><img src="doodles_inverted.jpg" alt="Inverted Twiddles Doodles" /> <span>Inverted version of the Twiddles doodles.</span></a></li>
  </ul>
  <p class="break">Please feel free to share them! Also, any links to <a href="https://www.twiddles.com/">Twiddles</a> would be much appreciated!</p>
</div>
