/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Basic styles
 *
 *
 */
/* line 15, ../sass/screen.scss */
body {
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

/* line 21, ../sass/screen.scss */
p, blockquote {
  margin: 0 0 1em 0;
}

/* line 26, ../sass/screen.scss */
ul, ol, dl {
  margin: 0 0 0.5em 0;
}

/* line 30, ../sass/screen.scss */
li, dd {
  margin: 0 0 0.5em 2em;
}

/* line 34, ../sass/screen.scss */
dt {
  margin: 0 0 0.5em 0;
}

/* line 39, ../sass/screen.scss */
header {
  color: #fff;
}
/* line 42, ../sass/screen.scss */
header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}
/* line 48, ../sass/screen.scss */
header h2 {
  text-align: center;
  font-size: 1.5em;
}

/* line 55, ../sass/screen.scss */
h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

/* line 61, ../sass/screen.scss */
h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

/* line 68, ../sass/screen.scss */
hgroup h3 {
  font-size: 1em;
  font-weight: bold;
}

/*
 * Page mode.
 * Includes multi-image backgrounds and associated effects.
 *
 */
@-webkit-keyframes cemetary_bg_scroll {
  /* line 82, ../sass/screen.scss */
  from {
    background-position-x: 50%, 0px, 60%, 70%, 0px, 0px, 11%, 0;
  }

  /* line 85, ../sass/screen.scss */
  to {
    background-position-x: 50%, 2772px, 60%, 70%, 1656px, 1023px, 11%, 0;
  }
}

/* line 90, ../sass/screen.scss */
header {
  height: 360px;
  background-color: #56436e;
  padding: 3em 0;
  background-image: url("../rip_pixel.png"), url("../mist.png"), url("../cemetary_middle.png"), url("../cemetary_background.png"), url("../clouds2.png"), url("../clouds.png"), url("../moon.png"), url("../sky.gif");
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, no-repeat, repeat-x;
  background-position-x: 50%, 0px, 60%, 70%, 0px, 0px, 11%, 0;
  background-position-y: bottom, bottom, bottom, bottom, top, top, 6%, top;
  -webkit-animation: cemetary_bg_scroll 90s linear infinite;
}

/* line 104, ../sass/screen.scss */
#main {
  padding: 3em 0 3em 0;
  background-image: url("../grass_top.png"), url("../grass_bottom.png"), url("../soil.png");
  background-repeat: repeat-x, repeat-x, repeat;
  background-position-y: top, bottom, top;
}
/* line 112, ../sass/screen.scss */
#main .slide {
  width: 80%;
  margin: 0 auto 3em auto;
  padding: 1em;
  border: 2px solid #000;
  background-color: #fff;
}

/* line 123, ../sass/screen.scss */
footer {
  background-color: #448afc;
  background-image: url("../oz.png"), url("../sky_oz.png");
  background-repeat: no-repeat, repeat-x;
  background-position-y: top, top;
  background-position-x: 70%, 0;
  min-height: 200px;
  padding: 1em 0 1em 0;
}
/* line 133, ../sass/screen.scss */
footer p {
  width: 80%;
  margin: 0 auto 0 auto;
}

@-webkit-keyframes slide-away-to-left {
  /* line 148, ../sass/screen.scss */
  from {
    left: 0;
    -webkit-transform: scale(1, 1);
  }

  /* line 153, ../sass/screen.scss */
  to {
    left: -105%;
    -webkit-transform: scale(0.8, 0.8);
  }
}

@-webkit-keyframes slide-in-from-left {
  /* line 160, ../sass/screen.scss */
  from {
    left: -105%;
    -webkit-transform: scale(0.8, 0.8);
  }

  /* line 164, ../sass/screen.scss */
  to {
    left: 0;
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes slide-away-to-right {
  /* line 172, ../sass/screen.scss */
  from {
    left: 0;
    -webkit-transform: scale(1, 1);
  }

  /* line 176, ../sass/screen.scss */
  to {
    left: 105%;
    -webkit-transform: scale(0.8, 0.8);
  }
}

@-webkit-keyframes slide-in-from-right {
  /* line 183, ../sass/screen.scss */
  from {
    left: 105%;
    -webkit-transform: scale(0.8, 0.8);
  }

  /* line 187, ../sass/screen.scss */
  to {
    left: 0;
    -webkit-transform: scale(1, 1);
  }
}

/* line 194, ../sass/screen.scss */
body.presentation {
  background-color: #666;
}
/* line 199, ../sass/screen.scss */
body.presentation #main {
  background: none;
  padding: 0;
  margin: 0;
}
/* line 204, ../sass/screen.scss */
body.presentation #main .slide {
  width: 100%;
  border: none;
  margin: 0;
}
/* line 211, ../sass/screen.scss */
body.presentation .slide {
  top: 0;
  left: 105%;
  display: none;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  box-shadow: 0 5px 30px #000;
}
/* line 224, ../sass/screen.scss */
body.presentation .visible {
  display: block;
}
/* line 228, ../sass/screen.scss */
body.presentation .current {
  left: 0;
}
/* line 232, ../sass/screen.scss */
body.presentation .away-forward {
  -webkit-animation: slide-away-to-left 0.9s ease-in-out;
}
/* line 235, ../sass/screen.scss */
body.presentation .in-forward {
  -webkit-animation: slide-in-from-right 0.9s ease-in-out;
}
/* line 238, ../sass/screen.scss */
body.presentation .away-backward {
  -webkit-animation: slide-away-to-right 0.9s ease-in-out;
}
/* line 241, ../sass/screen.scss */
body.presentation .in-backward {
  -webkit-animation: slide-in-from-left 0.9s ease-in-out;
}
