---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
{%- if site.isProduction -%}
# James Nash's robots.txt file

User-agent: *
Disallow: /style/
Disallow: /death_of_the_pixel/
{%- else -%}
# Non-production build.
# Hide from search engines

User-agent: *
Disallow: /

User-agent: www.deadlinkchecker.com
Disallow:
{%- endif %}

Sitemap: {{ site.url }}/sitemap.xml
