ul.twitter {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
}

ul.twitter li {
	margin: 0 0 0.6em 0;
	padding: 0.8em;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	background: #434343 url('boxbg.jpg') no-repeat 50% 0;		
	border: 1px solid #b6e4ff;
}

ul.twitter p {
	font-size: 0.8em;
}

ul.twitter p.tweetdate {
	margin: 0;
	color: #bbbbbb;
	text-align: right;
}
